<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SquareLanding</title>
        <script src="//code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>     
        <link rel="stylesheet" href="/public/css/chat.css">   
  </head>
  <body>
    <div id = "wrap">
        <div class = "game">
            <div id = "home">
                <%= room_num%>번 방입니다  <a href="/">돌아가기</a>
            </div>
            <canvas id = "SquareLanding" width="500" height="500"></canvas>
        </div>
    
        <div class = "game" style="width:400px;">
            <div id = "home"></div>
            <div class = "chat"></div>
            <div class = "chat">
                <textarea id="chatLog" class="chat_log" readonly></textarea>
                <form id="chat">
                  <input type="text" id="room" class="room" readonly>  
                  <input id="name" class="name" type="text" readonly>
                  <input id="message" class="message" type="text">
                  <input type="submit" class="send" value="chat"/>
                </form>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/public/script/game2logic.js"></script>
    
  </body>
</html>