<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>온라인 보드게임 카페</title>
    <link rel="stylesheet" type="text/css" href="/public/css/common_test.css">
    <link rel="stylesheet" type="text/css" href="/public/css/ac_regist.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div id="logo"><a href="/"><img src="/public/img/prj_logo2.png" border="0"></a></div>
            <div id="top_login">
                <% if (id){ %>
                    <%= id %>님  | <a href="/logout">로그아웃</a> |<a href="/update">정보수정</a>
                <% }else{ %>
                    <a href="/login">로그인</a> | <a href="/sign">회원가입</a>
                <% } %>
            </div>
        </div>  <!-- end of header -->

        <div id="menu">
            <div class="menus"><a href="/games/game2channel"><img src="/public/img/game2.png" border="0"></a></div>

            <div class="menus"><a href="/action"><img src="/public/img/auction.png" border="0"></a></div>
            <div class="menus"><a href="/community"><img src="/public/img/communication.png" border="0"></a></div>
            <div class="menus"><a href="/service"><img src="/public/img/customer.png" border="0"></a></div>
        </div>  <!-- end of menu -->
        <div id="content">
                <div id="col2">
            <div id="list_item">
              <div id="title">
                  <img src="/public/auc_img/auc_regist_title.png">
              </div>
              <% if(len==0){ %>
                낙찰된 물품이 없습니다.
                <%}%>
                <% else{ %>
            <table class="mybid_table" style="margin-left:auto; margin-right: auto;" width="800">
                <tr>
                  <th width="150">고객님의 낙찰된 물품</th>
                  <th width="150">낙찰가</th>
                </tr>
                <% for(var i=0;i<len;i++){ %>
                <tr>
                  <th width="150"><%= data[i].auc_name%></th>
                  <th width="150"><%= data[i].bid%></th>
                </tr>
                <%}%>
          </table>
          <%}%>
        </div>
</body>
</html>
